<div ng-include="viewPath+'layout/navigator.html'"></div>
	<div class="container"><!--row Start-->
		<div class=" post-info-rightsection "> 
			<h3 class="section-title">Edit attribute degree courses</h3>
			
			 <ul class="list-unstyled profile-form">
	          <li ng-repeat="profession in professions.value">
	            <div class="row"><!--row Start-->
	              <ng-form name="attributeProfessionsForm" novalidate> 
	              
	              <div class="col-lg-3 col-md-4 col-sm-6">
					<label class="main-lable" >Name</label> 
					
					<input type="text" placeholder="Professions Name" class="form-control" name="name" ng-model="professions.value[$index].name" ng-maxlength="100"  required>
					<span class="error-msg" ng-if="attributeProfessionsSubmitted && attributeProfessionsForm.name.$error.required">Profession name is required</span>
					<span class="error-msg" ng-if="attributeProfessionsSubmitted && attributeProfessionsForm.name.$error.maxlength">Professions name should not exceed than 100 characters</span> 
					
					<span class="error-msg" ng-if="errors.name">{{errors.name}}</span>
				  </div>
				  
				   <div class="col-lg-3 col-md-4 col-sm-6">
                 	<label class="main-lable">Is Active</label>
             		<div class="btn-group pad-new">
                     <label class="btn btn-default" ng-class="{'active':professions.value[$index].is_active == 1}">
                     <input type="radio"  class="btn btn-default" id="q158" name="isActive" ng-model="professions.value[$index].is_active" value="1" required />
                     <i class="fa-male"></i> Yes</label>
                    <label class="btn btn-default" ng-class="{'active':professions.value[$index].is_active == 0}">
                     <input type="radio"  class="btn btn-default"  id="q159"  name="isActive" ng-model="professions.value[$index].is_active" value="0" required />
                     <i class="fa-female"></i> No </label>
                 	</div>
                 	
                 	<span class="error-msg" ng-if="attributeProfessionsSubmitted && attributeProfessionsForm.isActive.$error.required">Profession name is required</span>
                    <input type="button" class="btn btn-primary btn-sm" value="Delete" ng-click="removeData(profession)">
       			 	 </div>
				 </ng-form>
					
          		</div>
          		</li>
          			
          		</ul>
          		<input type="submit" class="btn btn-primary btn-sm" value="{{loading && 'Please wait...' || 'Update'}}" ng-click="updateAttributeProfessionsSubmit()" ng-disabled="loading">
       		
      	</div>
      </div>
          		