<header>
  <div class="container container-fluid">
    <nav>
      <div class="col-md-2 "> <a href="#/" title="Awsmu"><img width="100" src="resources/images/logo.png" alt="Awsmu" ></a> </div>
      <div class="col-md-10 ">
        <ul class="nav nav-userinfo navbar-right">
          <li> <a href="#dashboard">Dashboard</a></li>
          <li> <a href="#users">Users</a></li>
          <li> <a href="#bookletsList">Booklets</a></li>
          <li> <a href="#doctorsList">Doctors</a></li>
          <li> <a href="#userDoctorsList">User Doctors</a></li>
          <li> <a href="#planners">Planners</a></li>
          <li> <a href="#plannerGroup">Planner Group</a></li>
          <li> <a href="#allUserPlannersList">User's Planners</a></li>
          
          <li> 
             <a href="">Masters <i class="fa-angle-down"></i></a>
             <ul class="dropdown-menu">
             <li> <a href="#problems">Problems</a></li>
             <li> <a href="#activities">Activities</a></li>
             <li> <a href="#activityCategories">Activity Categories</a></li>
             <li> <a href="#trends">Trends</a></li>
             <li> <a href="#tips">Tips</a></li>
             <li> <a href="#attributes">Attributes</a></li>
             <li> <a href="#questions">Questions</a></li>
             <li> <a href="#celebrities">Celebrities</a></li>
             </ul>
          </li>
          
          <li> <a href="#messages">Messages</a></li>
          <li> <a href="#posts">Post</a></li>          
          <li> <a href="#logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
